#top {
	width: 100%;
	height: auto;
	font-size: 20px;
	background-color: white;
	z-index: 10;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.middle {
	width: 98%;
	height: 2500px;
	margin: 1%;
}
.middle > .middle_inner {
	width: 95%;
	height: inherit;
	margin: auto;
}
.middle > .middle_inner > .content_main {
	width: 80%;
	float: left;
	padding: 0 2.5%;
	height: 1000px;
}
#bottom {
	width: 100%;
	height: 200px;
}
.middle > .middle_inner > .content_main > .content_main_general {
	width: 100%;
	margin: auto;
}